<%- include('./partials/head.ejs') %>
<div class="mainblock">
<div class="container-fluid mt-3">
	<h1 class="title text-center">Booking Request</h1>

	<form class="row g-3" style="max-width: 50rem; margin: auto" method="POST" action="/appointment">
		<!-- Customer details -->

		<div class="col-12 mb-2">
			<label for="name" class="form-label">Name</label>
			<input
				type="text"
				class="form-control"
				name="name"
				placeholder="Enter Your Name"
				maxlength="50"
			/>
		</div>

		<div class="col-md-6 mb-2">
			<label for="email" class="form-label">Email</label>
			<input
				type="email"
				class="form-control"
				name="email"
				placeholder="Enter Your Email"
				maxlength="50"
			/>
		</div>

		<div class="col-6 mb-2">
			<label for="mobile" class="form-label">Handphone(Hp)</label>
			<input
				type="text"
				class="form-control"
				name="mobile"
				placeholder="Enter Mobile Number"
				maxlength="11"
			/>
		</div>

		<div class="col-10 mb-2">
			<label for="address" class="form-label">Address</label>
			<input
				type="text"
				class="form-control"
				name="address"
				placeholder="Apartment address & unit"
				maxlength="100"
			/>
		</div>

		<div class="col-2 mb-2">
			<label for="zip" class="form-label">Zip</label>
			<input type="text" class="form-control" name="zip" placeholder="Postal" maxlength="6"/>

		</div>

		<!-- Pet details -->

		<div class="col-md-6 mb-2">
			<label for="petName" class="form-label">Pet Name</label>
			<input type="text" class="form-control" placeholder="Enter Pet's Name" maxlength="20" name="petName"/>
		</div>

		<div class="col-6">
			<label for="petBreed" class="form-label">Pet Breed</label>
			<input
				type="text"
				class="form-control"
				placeholder="Example: Dog Husky or Cat Mainecoon"
				maxlength="30"
				name="petBreed"
			/>
		</div>

		<div class="col-6 mb-2">
			<label for="date" class="form-label">Preferred Date</label>
			<input
				type="date"
				class="form-control"
				name="date"
				placeholder="Choose Date"
			/>
		</div>

		<div class="col-6 mb-2">
			<label for="time" class="form-label">Preferred Time</label>
			<select name="timeslot" class="form-select">
				<option selected>Choose Time Slot...</option>
				<option value="11am">11am</option>
				<option value="1pm">1pm</option>
				<option value="3pm">3pm</option>
				<option value="5pm">5pm</option>
			</select>
		</div>

		<div class="col-12 mb-2">

            <fieldset class="row mb-3">
                <legend class="col-form-label col-sm-2 pt-0">Transport</legend>
                <div class="col-sm-10">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="transport" value="yes" checked="">
                    <label class="form-check-label" for="gridRadios1">Yes, come fetch me!</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="transport" value="no" checked="checked">
                    <label class="form-check-label" for="gridRadios2">No thanks, I have my own transport.</label>
                  </div>
                </div>
            </fieldset>
		</div>

        <div class="col-12 mb-3">
            <label for="comments" class="form-label">Additional Comments</label>
            <textarea class="form-control" name="comments" type="text" rows="4" maxlength="300" placeholder="Max Characters: 300"></textarea>
        </div>

		<div class="col-12 mb-5">
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Submit Request</button>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
				<h5 class="modal-title text-warning" id="staticBackdropLabel">Request Submitted Successfully!</h5>
				<!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
				</div>
				<div class="modal-body">
				<p>Thank you for booking an appointment with us! Our staff will be reaching out to you regarding the status of your booking soon.</p>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Okay</button>
				</div>
			</div>
			</div>
		</div>
	</form>
</div>
</div>

<%- include('./partials/foot.ejs') %>
